<div class="home-callout text-center container-fluid">
    <h1>
    <a href="//google.com"><img src="//i.imgur.com/afgBEED.png"></img></a>
    </h1>
    <h3>A membership site where users can find what they've been looking for!</h3>
</div>