<div id="homecallout" class="home-callout text-center container-fluid">
    <h1>
    <%= link_to image_tag("//i.imgur.com/afgBEED.png"), "/about"%>
    </h1>
    <h3>A membership site where users can find what they've been looking for!</h3>
</div>